dcww:
  hostname: dcww
  build: ./
  ports:
    - 80:80
  privileged: true
  environment:
    WP_URL: 192.168.59.103
    WP_TITLE: DCWW_(boot2docker)
    WP_USER: root
    WP_PASSWORD: password
    WP_EMAIL: example@example.com
    WP_LOCALE: ja
  volumes:
    - ./volumes/wordpress:/var/www/html
    - ./volumes/nginx_conf.d:/etc/nginx/conf.d
